snippet doc
	<!DOCTYPE HTML>

snippet mod
	<div class="mod${1}">
		<b class="top"><b class="tl"></b><b class="tr"></b></b>
		<div class="inner">
			<div class="hd">${2}</div>
			<div class="bd">${3}</div>
		</div>
		<b class="bottom"><b class="bl"></b><b class="br"></b></b>
	</div>
